/* pouzivame intuitivnejsi box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
https://fonts.google.com/specimen/Source+Sans+Pro
*/

body {
	padding: 0;
	margin: 0;
	background-color: #e5e5e5;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
}

.obal {
	max-width: 960px; /* obsah stránky je omezený do pruhu širokého max. 960px */
	margin: 0 auto; /* pruh je na stránce vycentrovaný */
	background: white;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	margin-top: 20px;
}

/* ----- zde začni psát vlastní CSS ----- */

h1 {
	font-size: 60px;
	font-weight: normal	;
	color: white;
	margin: 0;
	text-align: center;
}

 /*menu*/
.superappka{
	font-weight: bold;
	margin-right: 0;
	text-align: center;
}

.menu {
	text-align: center;
	background-color: white;
	display: block;
}

ul {
	margin: 0;
	padding-left: 0;
}

.menu li {
    display: inline-block;
	display: block;
}

.menu a {
    display: block;
    text-decoration: none;
	color: black;
    padding: 20px;
}

.menu a:hover {
    background-color: #25133d;
    color: white;
}


/*banner*/

.banner {
	background-image: url(images/pozadi.jpg);
	background-size: cover;
	width: 100%;
	min-height: 450px;
	position: relative;
}

.banner p{
	text-align: center ;
	font-size: 25px;
	color: white;
}

.banner img {
	position: absolute;
	bottom: 0;
	right: 0;
	max-width: 35%;
	padding-top: 20px;
}	

/*tlačítka*/
	
.tlacitka{
	text-align: center;
	margin-bottom: 20px;
}
	  
.stahnout {
	margin-top: 30px;
	margin-bottom: 10px;
	background-color: #48418e;
	width: 180px;
	height: 45px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid white;
	border-radius: 5px;
}
	
.stahnout a {
	text-decoration: none;
	font-size: 14px;
	color: white;
	display:inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
	border-width: 10px
}
	
.info {
	width: 160px;
	height: 45px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	border: 1px solid white;
	border-radius: 5px;
}
		
.info a {
	text-decoration: none;
	font-size: 14px;
	color: white;
	display:inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*obsah*/

.obsah{
	text-align: center;
	margin: 20px 40px 20px 40px;
}


.obsah img{
	width: 50px;
	margin-top: 20px;
}

.obsah h2{
	color: #48418e;
	margin: 0;
}

/*patička*/

footer {
	background-color:#48418e ;
	text-align: center;
	color: white;
	height: 40px;
}

footer p {
	padding-top: 7px;
}

	
	@media screen and (min-width: 640px){
		h1 {
			font-size: 70px;
			text-align: left;
			margin-left: 40px;
		  }
		
		  .banner p {
			font-size: 30px;
			text-align: left;
			margin-left: 40px;
		  }
		
		  .menu {
			display: flex;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-items: center;
			background-color: white;
		  }
		
		  .menu li {
			display: inline-block;
			margin: 0;
		  }
		  ul {
			padding-left: 40px;
		  }
		
		  .menu a {
			flex-shrink: 0;
		  }
	
		.banner p{
			text-align: left ;
		  }  

			   
		.tlacitka{
			display: flex;
			margin-left: 0;
		  }  

		.stahnout {
			margin: 0 20px 0 40px;
		  }

		.info {
			margin-left: 0;
		  }
	}	
	
	/*breakpoint 960px*/
	@media screen and (min-width: 960px){
	
		h1 {
			font-size: 90px;
		}

		.banner p {
			font-size: 36px;
		}

		.obsah {
			display: flex;
			flex-wrap: nowrap;
			gap: 20px;
			margin-left: 40px;
			margin-right: 40px;
		}

		.ctverecek{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
			
	}